.slider {
    width: 100%;
    height: auto ;
    margin: auto;
    overflow: hidden;
    
}

.slider .slide_track {
    display: flex;
    -webkit-animation: scroll 30s linear infinite;
    animation: scroll 30s linear infinite;
    width: calc(100px * 24);
    gap: 1rem;
}

.slider .slide{
    width: 100px;
    
}

.slider .slide img{
    width: 100%;
    object-fit: cover;
    transition: all .5s ease-in-out;
    filter: saturate(70%);
    border-radius: 100%;
}

.slider .slide img:hover{
    cursor: crosshair;
    width: 200px;
    opacity: 1;
    filter: saturate(160%);
}

@keyframes  scroll {
    0%   { 
        -webkit-transform: translateX(0);
        transform : translateX(0); 
    }
    100% {
        -webkit-transform: translateX(calc(-100px * 12));
        transform: translateX(calc(-100px * 12))
    }
    
}