#root {
  background-color: #000000;
  color: white;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: .5rem; /* Ancho de la barra de desplazamiento vertical */
  height: 3px;  /* Altura de la barra de desplazamiento horizontal */
}

::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 1rem;       /* Radio del borde del pulgar */
}

::-webkit-scrollbar-track {
  background-color: #000;    /* Color de la pista de la barra de desplazamiento */
  border-radius: 1rem;       /* Radio del borde de la pista */
}

.cv {
  background: #3498db;
  padding: .5rem;
  border-radius: 99999px;
  -webkit-border-radius: 99999px;
  -moz-border-radius: 99999px;
  -ms-border-radius: 99999px;
  -o-border-radius: 99999px;
  outline: 1px solid white;
  box-shadow: 0 0 10px whitesmoke;

  font-weight: bold;
  &:hover {
    background: #2980b9;
    cursor: pointer;
    box-shadow: 0 0 15px whitesmoke;
    transition: background 0.3s ease;
  }
}

.btnLenguaje {
  display: flex;
  position: fixed;
  top: 5rem;
  left: 1rem;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}